@model MvcKutuphane.Models.Entity.TBL_KATEGORI

@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br>

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <br>
    <div>
        <button class="btn btn-info" id="Btn1">Ekle</button>
</div>
</form>
