@model MvcKutuphane.Models.Entity.TBL_YAZAR

@{
    ViewBag.Title = "YazarGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazar Güncelleme Sayfası</h2>

@using (Html.BeginForm("YazarGuncelle", "Yazar", FormMethod.Post))
{
    <div class="form-group">
        <label> Yazar Id : </label>
        @Html.TextBoxFor(y => y.ID, new { @class = "form-control" })
    </div>

    <div class="form-group" style="margin-top:22px">
        <label> Yazar Adı : </label>
        @Html.TextBoxFor(y => y.AD, new { @class = "form-control" })
    </div>

    <div class="form-group" style="margin-top:22px">
        <label> Yazar Soyadı : </label>
        @Html.TextBoxFor(y => y.SOYAD, new { @class = "form-control" })
    </div>

    <div class="form-group" style="margin-top:22px">
        <label> Yazar Detay : </label>
        @Html.TextAreaFor(y => y.DETAY, new { @class = "form-control" })
    </div>

    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}
